Source: karaokerg
Section: sound
Priority: optional
Maintainer: Isaac Lightburn <support@openkj.org>
Build-Depends: Build-Depends: qt5-default, qttools5-dev-tools, qtbase5-dev, qttools5-dev, qt5-qmake, debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://openkj.org
Vcs-Git: https://github.com/OpenKJ/KaraokeRG.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/karaokerg.git

Package: karaokerg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, mp3gain
Description: Tool to run ReplayGain analysis against mp3+g zip karaoke files
